<h2>Produtos</h2>
<form [formGroup]="produtoForm" (ngSubmit)="salvar()">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="form-group column d-flex justify-content-between align-items-center">
      <div class="form-group row d-flex justify-content-between align-items-center">
        <div class="form-group column d-flex justify-content-between align-items-center">
          <div class="form-group col-3 p-1">
            <label for="id">Código do Produto</label>
            <input type="number" min="0" id="id" name="id" class="form-control" formControlName="id">
          </div>
          <div class="form-group col-3 p-1">
            <label for="descricao">Descrição *</label>
            <input type="text" id="descricao" name="descricao" class="form-control" formControlName="descricao">
          </div>
          <div class="form-group col-3 p-1">
            <label for="referencia">Referência *</label>
            <input type="text" id="referencia" name="referencia" class="form-control" formControlName="referencia">
          </div>
          <div class="form-group col-3 p-1">
            <label for="codigoAuxiliar">Código Auxiliar *</label>
            <input id="codigoAuxiliar" name="codigoAuxiliar" class="form-control" formControlName="codigoAuxiliar">
          </div>
        </div>

        <div class="form-group column d-flex justify-content-between align-items-center">

          <div class="form-group col-3 p-1">
            <label for="setor">Setor *</label>
            <select class="form-select " aria-label="Default select example" aria-placeholder="Selecione"
              formControlName="setorId">
              <option value="0">Selecione</option>
              <option *ngFor="let setor of lstSetor" [value]="setor.id">{{ setor.descricao }}</option><i
                class="bi bi-plus"></i>
            </select>
          </div>
          <div class="form-group col-3 p-1">
            <label for="linhaId">Linha *</label>
            <select class="form-select " aria-label="Default select example" aria-placeholder="Selecione"
              formControlName="linhaId">
              <option value="0">Selecione</option>
              <option *ngFor="let linha of lstLinha" [value]="linha.id">{{ linha.descricao }}</option>
            </select>
          </div>
          <div class="form-group col-3 p-1">
            <label for="linhaId">Marca *</label>
            <select class="form-select " aria-label="Default select example" aria-placeholder="Selecione"
              formControlName="marcaId">
              <option value="0">Selecione</option>
              <option *ngFor="let marca of lstMarca" [value]="marca.id">{{ marca.descricao }}</option>
            </select>
          </div>
          <div class="form-group col-3 p-1">
            <label for="linhaId">Coleção *</label>
            <select class="form-select " aria-label="Default select example" aria-placeholder="Selecione"
              formControlName="colecaoId">
              <option value="0">Selecione</option>
              <option *ngFor="let colecao of lstColecao" [value]="colecao.id">{{ colecao.descricao }}</option>
            </select>
          </div>
        </div>

        <div class="form-group column d-flex justify-content-between align-items-start">

          <div class="form-group col-3 p-1">
            <label for="fornecedorId">Fornecedor *</label>
            <select class="form-select " aria-label="Default select example" aria-placeholder="Selecione"
              formControlName="fornecedorId">
              <option value="0">Selecione</option>
              <option *ngFor="let fornecedor of lstFornecedor" [value]="fornecedor.id">{{ fornecedor.nomeRazao }}
              </option>
            </select>
          </div>
          <div class="form-group col-2 p-1">
            <label for="precoCusto">Preço de Custo *</label>
            <div class="d-flex align-items-center">
              <label class="simbolo-dinheiro">R$</label>
              <input type="text" id="precoCusto" name="precoCusto" class="form-control" formControlName="precoCusto"
                (ngModelChange)="calcularMarkup()" mask="separator.2" thousandSeparator="." decimalMarker=","
                placeholder="00,00" ngxMaskAutoFormat>
            </div>



          </div>
          <div class="form-group col-2 p-1">
            <label for="precoVenda">Preço Venda *</label>
            <div class="d-flex align-items-center">
              <label class="simbolo-dinehiro">R$</label>
              <input type="text" id="precoVenda" name="precoVenda" class="form-control" formControlName="precoVenda"
                (ngModelChange)="calcularMarkup()" mask="separator.2" thousandSeparator="." decimalMarker=","
                placeholder="00,00">
            </div>
          </div>
          <div class="form-group col-2 p-1">
            <label for="markup">Markup (%)</label>
            <div class="d-flex align-items-center">
              <input type="text" id="markup" name="markup" class="form-control" [value]="calcularMarkup()" disabled>
              <label class="simbolo-dinehiro">%</label>
            </div>
          </div>

        </div>

      </div>
      <!-- <div class="p-2 card col-3 imagem-usuario align-items-center">
        <div>
          <a (click)="selecionarImagem()">
            <i class="bi bi-pencil-square"></i>
          </a>
          <a (click)="removerImagem()">
            <i class="bi bi-trash"></i>
          </a>
        </div>
        <div class="imagem-container">
          <label for="inputImagem" class="imagem-label">
            <img [src]="imagemSelecionada" alt="Foto do produto" class="imagem-fixa">
            <input type="file" id="inputImagem" style="display: none" (change)="onImagemSelecionada($event)">
          </label>
        </div>
      </div> -->
    </div>

    <div class="form-group column d-flex justify-content-between align-items-center">

      <div class="form-group col-3 p-1" *ngIf="!edit">
        <label for="tamanhoId">Tamanhos *</label>
        <select multiple class="form-select fixed-width" aria-label="Default select example"
          aria-placeholder="Selecione" formControlName="tamanhoId" (change)="updateSelectedTamanhoIds()">
          <option *ngFor="let tamanho of lstTamanho" [value]="tamanho.id">{{ tamanho.descricao }}</option>
        </select>
      </div>
      <div class="form-group col-3 p-1" *ngIf="!edit">
        <label for="corId">Cores *</label>
        <select multiple class="form-select fixed-width" aria-label="Default select example"
          aria-placeholder="Selecione" formControlName="corId" (change)="updateSelectedCorIds()">
          <option *ngFor="let cor of lstCor" [value]="cor.id">{{ cor.descricao }}</option>
        </select>
      </div>

      <div class="form-group col-3 p-1" *ngIf="edit">
        <label for="tamanhoId">Tamanho *</label>
        <select class="form-select " aria-label="Default select example" aria-placeholder="Selecione"
          formControlName="tamanhoId">
          <option value="0">Selecione</option>
          <option *ngFor="let tamanho of lstTamanho" [value]="tamanho.id">{{ tamanho.descricao }}</option>
        </select>
      </div>
      <div class="form-group col-3 p-1" *ngIf="edit">
        <label for="corId">Cor *</label>
        <select class="form-select " aria-label="Default select example" aria-placeholder="Selecione"
          formControlName="corId">
          <option value="0">Selecione</option>
          <option *ngFor="let cor of lstCor" [value]="cor.id">{{ cor.descricao }}</option>
        </select>
      </div>

      <div class="form-group col-2 p-1">
        <label for="dataCadastro">Data de Cadastro</label>
        <input type="date" id="dataCadastro" name="dataCadastro" class="form-control" formControlName="dataCadastro">
      </div>
      <div class="form-group col-2 p-1">
        <label for="status">Status *</label>
        <select class="form-select " aria-label="Default select example" formControlName="status">
          <option [value]="true">Ativo</option>
          <option [value]="false">Inativo</option>
        </select>
      </div>
    </div>

    <div class="form-group column d-flex justify-content-between align-items-center">
      <div class="form-group col-2 p-1">
        <label for="tempoGarantia">Garantia em dias</label>
        <input type="text" id="tempoGarantia" name="tempoGarantia" class="form-control" formControlName="tempoGarantia">
      </div>
      <div class="form-group col-2 p-1">
        <label for="peso">Peso(gm) </label>
        <input type="text" id="peso" name="peso" class="form-control" formControlName="peso">
      </div>
      <div class="form-group col-2 p-1">
        <label for="altura">Altura(mm)</label>
        <input type="text" id="altura" name="altura" class="form-control" formControlName="altura">
      </div>
      <div class="form-group col-2 p-1">
        <label for="largura">Largura(mm) </label>
        <input type="text" id="largura" name="largura" class="form-control" formControlName="largura">
      </div>
      <div class="form-group col-2 p-1">
        <label for="comprimento">Comprimento(mm) </label>
        <input type="text" id="comprimento" name="comprimento" class="form-control" formControlName="comprimento">
      </div>
    </div>

    <div class="form-group m-1 column d-flex justify-content-between align-items-center">
      <label class="p-1" for="observacao">Observações</label>
      <textarea type="text" formControlName="observacao" class="form-control m-1"></textarea>
    </div>


    <div class="d-flex justify-content-end p-1 btn-salvar">
      <button type="submit" class="btn fixed-width m-1 btn-success">Salvar</button>
    </div>
  </div>
</form>