.input-group .input-group-text {
  background-color: #ced4da;
  border: 1px solid #ced4da;
  border-left: none;
  border-radius: 0 8px 8px 0;
}

.input-group .input-group-text .bi,
.input-group .input-group-circle .bi {
  font-size: 1.2rem;
}

.input-group-circle {
  font-size: 1.2rem;
  background-color: green;
  color: white;
  border-radius: 50%;
}

.mat-table-container {
  height: calc(100vh - 510px);
  overflow-y: auto;
}

.cancelar {
  background-color: red;
  color: white;
  border-radius: 10px;
  width: 260px;
}

.salvar {
  background-color: green;
  color: white;
  border-radius: 10px;
  width: 260px;
}

.table-lista-produto {
  width: 250px;
  height: 150px;
  overflow: auto;
  margin: 0 0 20px auto;
  text-align: center;
}

.table-lista-produto th {
  font-weight: bold;
  background-color: #f2f2f2;
}

.table-lista-produto tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-lista-produto tr:hover {
  background-color: #ddd;
}

.table-lista-produto td {
  border-bottom: 1px solid #ddd;
}

.table-lista-produto h3 {
  margin: 0;
  text-align: center;
  background-color: #f2f2f2;
}

.left-aligned {
  text-align: left;
}
